<form [formGroup]="passwordForm" class="container">
    <div class="row">
        <!-- Your Password -->
        <div class="col-md-12 mb-3">
            <label for="currentPassword">Your Password</label>
            <div class="input-group">
                <input maxlength="25" id="currentPassword" [type]="showCurrentPassword ? 'text' : 'password'" class="form-control" formControlName="currentPassword"
                    placeholder="Enter your current password" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('current')">
                    <i class="fa" [class.fa-eye]="!showCurrentPassword" [class.fa-eye-slash]="showCurrentPassword"></i>
                </button>
            </div>
            @if (passwordForm.controls['currentPassword'].invalid && passwordForm.controls['currentPassword'].touched) {
            <div class="text-danger">Current password is required.</div>
            }
        </div>

        <!-- New Password -->
        <div class="col-md-12 mb-3">
            <label for="newPassword">New Password</label>
            <div class="input-group">
                <input maxlength="25" id="newPassword" [type]="showNewPassword ? 'text' : 'password'" class="form-control" formControlName="newPassword"
                    placeholder="Enter new password" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('new')">
                    <i class="fa" [class.fa-eye]="!showNewPassword" [class.fa-eye-slash]="showNewPassword"></i>
                </button>
            </div>
            @if (passwordForm.controls['newPassword'].invalid && passwordForm.controls['newPassword'].touched) {
            <div class="text-danger">Password must be at least 8 characters with one uppercase and one special character.</div>
            }
        </div>

        <!-- Confirm Password -->
        <div class="col-md-12 mb-3">
            <label for="confirmPassword">Confirm Password</label>
            <div class="input-group">
                <input maxlength="25" id="confirmPassword" [type]="showConfirmPassword ? 'text' : 'password'" class="form-control" formControlName="confirmPassword"
                    placeholder="Re-enter new password" />
                <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility('confirm')">
                    <i class="fa" [class.fa-eye]="!showConfirmPassword" [class.fa-eye-slash]="showConfirmPassword"></i>
                </button>
            </div>
            @if (passwordForm.controls['confirmPassword'].invalid && passwordForm.controls['confirmPassword'].touched) {
            <div class="text-danger">Confirm password is required.</div>
            }

            @if (passwordForm.errors?.['passwordMismatch'] && passwordForm.controls['confirmPassword'].touched) {
            <div class="text-danger">Passwords do not match.</div>
            }
        </div>
    </div>
</form>
