.card-body{
  padding: 1rem !important;
}

.container-fluid {
  padding: 20px;
}

.sub-tabs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.tab-btn {
  border: 1px solid #dcdcdc;
  background: #ffffff;
  color: #555;
  padding: 10px 22px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  transition: 0.3s ease;
}

.tab-btn:hover {
  background: #f5f7ff;
  border-color: #4f46e5;
  color: #4f46e5;
}

.tab-btn.active {
  background: #4f46e5;
  color: #fff;
  border-color: #4f46e5;
}