<div class="dropdown-container">
  <!-- Selected items / placeholder -->
  <div class="selected-items" (click)="toggleDropdown()">
    <div class="items-select">
      @if (selectedItems.length > 0) {
        @for (selectedId of selectedItems; track selectedId) {
          <span>
            {{ getDisplayValue(selectedId) }}
          </span>
        }
      } @else {
        <span class="placeholder-text">{{ placeholderText }}</span>
      }
    </div>
    <div class="dparrow">
      <svg viewBox="0 0 24 24" width="24px" height="24px" focusable="false" aria-hidden="true">
        <path d="M7 10l5 5 5-5z"></path>
      </svg>
    </div>
  </div>

  <!-- Dropdown list -->
  @if (dropdownOpen && items.length > 0) {
    <div class="dropdown-list" (scroll)="onScroll($event)">
      <!-- Internal search -->
      <input type="text" placeholder="Search..." [(ngModel)]="searchTerm"  class="search-box" />
      <!-- Select All -->
      <label>
        <input
          type="checkbox"
          [checked]="isAllSelected()"
          (change)="toggleSelectAll($event)">
        All
      </label>
      <!-- Filtered options -->
      @for (item of filteredItems; track item) {
        <label>
          <input type="checkbox" [checked]="isSelected(item)" (change)="toggleSelection(item)">
          {{ item?.[displayField] }}
        </label>
      }
    </div>
  }
</div>